@using Bit.Bswup
@code {
    [CascadingParameter] HttpContext HttpContext { get; set; } = default!;
}

@{
    var noPrerender = HttpContext.Request.Query["no-prerender"].Count > 0;
    IComponentRenderMode renderMode = noPrerender
        ? new InteractiveWebAssemblyRenderMode(prerender: false)
        : new InteractiveAutoRenderMode(prerender: true); // Choose either InteractiveAuto, InteractiveWebAssembly or InteractiveServer with prerender true or false.


}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["BlazorNET9WithBitPWA.styles.css"]" />
    <link rel="manifest" href="@Assets["manifest.json"]" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />

    <HeadOutlet @rendermode="renderMode" />
</head>

<body>
    <Routes @rendermode="renderMode" />
    <script src="@Assets["_framework/blazor.web.js"]" autostart="false"></script>
    <script src="@Assets["_content/Bit.Bswup/bit-bswup.js"]"></script>
    <script src="@Assets["_content/Bit.Bswup/bit-bswup.progress.js"]"></script>
    <AppBswupProgressBar />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
